.pokemons__list-card {
    justify-content: center;
    width: 15rem;
    height: 18rem;
    border: 1px solid rgb(54, 52, 52);
    &-img {
      display: flex;
      width: 100%;
      height: fit-content;
      padding-top: 1rem;
      justify-content: center;
      img {
        width: 10rem;
        height: 10rem;
      }
    }
    &-info {
      width: 100%;
      height: fit-content;
      &-name {
        margin: 0.5rem 0 0 0 ;
        text-align: center;
        font-weight: 600;
        width: 100%;
        height: 2rem;
        font-size: 1.5rem;
      }
      &-types {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-wrap: wrap;
        p {
          display: flex;
          padding: 0.05rem 1rem 0.05rem 1rem;
          border: 1px solid rgb(54, 52, 52);
          border-radius: 0.5rem;
          margin: 0 0.25rem 0 0.25rem;
          font-size: 1.05rem;
        }
      }
    }
  }