.pokemons-content {
  padding-top: 3rem;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.pokemons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 70%;
    height: fit-content;
    &__list {
      width: 100%;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(10rem, 16rem));
      grid-gap: 2rem;
      justify-self:center;
      list-style-type: none;
    }
    &__load {
      background-color: #008CFF;
      margin-bottom: 3rem;
      border: 1px solid #8c8f91;
      border-radius: 1rem;
      padding: 0 10rem 0 10rem;
      color: #fff;
      cursor: pointer;
    }
    &__load:hover{
      background-color: #fff;
      color: #008CFF;
    }
}

@media (min-width: 2000px){
  .pokemons__list {
    padding: 5rem;
  }
}


@media (min-width: 1400px){
  .pokemons__list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
  }
}


@media (max-width: 1040px){
    .pokemons__list {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 14rem));
    }
    
}

@media (min-width: 1041px) and (max-width: 1054px) { 
  .pokemons__list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 14rem)) !important;
  }
}

@media (max-width: 990px){
  .pokemons-content {
    width: 95%;
  }
    .pokemons__list {
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));

    }
    .pokemons__list li {
      width: 12.5rem;
    }
}

@media (max-width: 814px){
  .pokemons__list {
    margin-right: 20%;
    column-gap: 4rem;
    grid-template-columns: repeat(12rem, 14rem);
  }
}

@media (max-width: 575px){
  .pokemons__list {
    margin-right: 28%;
  }
}

